<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Document</title>
</head>
<body>
    <section class="main">
        <div class="header">
            <div class="logo">
            <h1>NovAir</h1>
            <h6>NovAir</h6>
            </div>
            <div class="bottom"></div>
        </div>   

        <div class="rezerv">
            <h3 class="rezerv_title">Ամրագրում հաստատում</h3>
            <ul>
                <li class="rezerv">Ամրագրում</li>
                <li class="contact">Հիմնական կոտակտային տվյալներ</li>
                <li class="name">Անուն։ </li>
                <li class="surname">Ազգանուն։ </li>
                <li class="phone">Բջջային։ </li>
            </ul>
        </div>
        
        <div class="passanger">
            <div class="passangers_bg">
                <h2>Ուղևորներ</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Անուն</th>
                        <th>Անձնագրի համար</th>
                        <th>նստատեղ(ներ)</th>
                        <th>Տոմս</th>
                    </tr>
                   
                </thead>
                <tbody>
                   <tr>
                    <td>Vardan</td>
                    <td>AB0052565</td>
                    <td>NG001</td>
                    <td>545464621021</td>
                   </tr>
                </tbody>
            </table>
        </div>

        <div class="passanger">
            <div class="passangers_bg">
                <h2>Թռիչքի երթուղի</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Ոտք</th>
                        <th>Ամսաթիվ</th>
                        <th>Թռիչք</th>
                        <th>Սկսած</th>
                        <th>Դեպի</th>
                        <th>Ինքնաթիռ</th>
                        <th>Կարգավիճակ</th>
                    </tr>
                   
                </thead>
                <tbody>
                   <tr>
                    <td>1</td>
                    <td>2025-02-26</td>
                    <td>NG1001</td>
                    <td>11:00 Erevan-Zvartnoc <br/> Airport</td>
                    <td>11:45-Kapan Syunik Airport</td>
                    <td>LET 410</td>
                    <td>CONFIRMED</td>
                   </tr>
                </tbody>
            </table>
        </div>
         
        <div class="passanger">
            <div class="passangers_bg">
                <h2>Ուղևորներ Թիվը</h2>
            </div>
            <ul class="people_count">
                <li>Մեծահասակներ։ </li>
                <li>Երեխաներ։ </li>
                <li>Նորածիններ։ </li>
            </ul>
            <p>Բոլոր գանձումները և վճարումները հայտնվում են հետևյալում․ AMD</p>
        </div>
        
        <div class="passanger">
            <div class="passangers_bg">
                <h2>Գանձումները</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Ոտք</th>
                        <th>Ուղևոր</th>
                        <th>Նկարագրություն</th>
                        <th>Գումար</th>
                        <th>VAT</th>
                        <th>Ընդամենը</th>
                    </tr>
                   
                </thead>
                <tbody>
                   <tr>
                    <td>1</td>
                    <td>Vardan</td>
                    <td>YITGOW-Economy</td>
                    <td>Դ16666.98</td>
                    <td>Դ33333.33</td>
                    <td>Դ200000.00</td>
                   </tr>
                </tbody>
            </table>
            <div class="total_price">
                <p>
                   <span class="total"> Ընդամենը</span>
                <span>Դ16666.98</span>
                <span class="vat">Դ33333.33</span>
                <span>Դ200000.00</span>
            </p>
            </div>
        </div>
         
        <div class="passanger">
            <div class="passangers_bg">
                <h2>Վճարման մասին տեղեկատվություն</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Վճարման տեսակ</th>
                        <th>PO համարը</th>
                        <td>Վճարողի անունը</td>
                        <th>Վճարի չափի Գործարքի <br/> ամսաթիվը </th>
                        <th>Գործարքի տեսակը</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                    <td>CASH</td>
                    <td></td>
                    <td>Vardan</td>
                    <td>Դ20000.00 <span>2025-02-25</span></span></td>
                    <td>Payment</td>
                   </tr>
                </tbody>
            </table>
            <div class="total_remainder">
                <p>
                   <span class="total"> Պարտքի մնացորդը</span>
                <span>Դ0․00</span>
            </p>
            </div>
        </div>
        
        <div class="agency">
            <div class="passangers_bg">
                <h2>Գործակալություն</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Գործակալություն</th>
                        <th>ATA#</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                    <td>NovAir</td>
                    <td>10010101</td>
                </tbody>
            </table>
        </div>

        <div class="agency_claus">
            <div class="passanger_bg">
                <h2>Պայմաններ և դրույթներ</h2>
            </div>
            <p class="descr">Ավիատոմսերի վաճառքի, վերակազմակերպման և վերադարձի կանոններ՝</p>
            <ol>
                <li>
                    <span>1․ Ավիափոխադրողի կողմից չվերթի չեղարկման դեպքում՝</span> <br/>
                    <span>Ավիատոմսի վերադարձը կամ վերաձևակերպումը կարող է կատարվել ուղևորի հայեցողությամբ</span><br/>
                    <span>Ավիատոմսի վերադաձի դեպքում գումարի վերադարձ</span><br/>
                    <span>Օրի փոփոխության դեպքում անվճար վերաձևակերպում</span>
                </li>
                <li>
                    <span>2․ Ուղևորի նախաձեռնությամբ ավիատոմսի վերադարձ կամ վերաձևակերպում՝</span> <br/>
                    <span>Չվերթը սկսելուց առաջ 24 ժամվա ընթացքում և դրանից հետ ավիատոմսը վերադարձի ենթակա չէ կամ <br/> վերաձևակերպման</span><br/>
                    <span>0-2 տարեկան ուղևորների համար անվճար</span><br/>
                    <span>2 տարեկանից բարձր ուղևորների համար տուգանք 7000 ՀՀ դրամ </span>
                    <span>(յուրաքաչյուր ուղղության համար)</span>
                </li>
                <li>
                    <span>3․ 14 տարին չլրացած երեխաների փոխադրումը կատարվում է ծնողի կամ ծնողի կողմից նոտարական</span> <br/>
                    <span>վավերացմամբ լիազորագրով չափահաս լիազոր անձի ուղեկցությամբ</span><br/>
                    <span>Մինչև 2 տարեկան երեխաներին առանձին նստատեղ չի տրամադրվում</span><br/>
                </li>
            </ol>
            <div class="warrning">
                <h5>Ուղեբեռի թույլտվություն</h5>
                <p>Ուղեբեռի առավելագույն թույլատրելի քաշ՝ 10կգ ծավալ՝ 55սմ*40սմ*25սմ</p>
            </div>
        </div>
       
    </section>
</body>
</html>