/* Ընդհանուր ձևավորումներ */
.inline-related {
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}


.inline-related td {
    padding: 5px;
    width: 48%; 
    margin-right: 4%;
    box-sizing: border-box;
}


.inline-related table{
    overflow: scroll;
}
.inline-related th {
    background-color: #f1f1f1;
    font-weight: bold;
}


.inline-related .passenger-field-list {
    background-color: #f0f0f0;
    padding: 5px;
}


.module .inline-related {
    margin-left: 20px;
}
